.khash-name {
  color: whitesmoke;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 3px 5px 4px rgba(0,0,0,1);
}

.header-background {
  /*background-color: rgba(0,0,0,.2);*/
  background-image: url(../../../assets/independence2.png);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  padding-top:10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.gray-out {
  /*background-image: url(../../../assets/independence.png);
  filter: grayscale(60%);
  height: 100%;
  background-size:cover;*/
}

.khash-head {
}
