<div class="container">
  <br />
  <div class="row align-items-center">
    <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
    <p class="col-10 khash-name "><b>I walk you step-by-step</b> through the process</p>
    <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
    <p class="col-10 khash-name "><b>I have a support team</b> who will knock your socks off</p>
    <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
    <p class="col-10 khash-name "><b>I am accessible 7 days a week</b> (I would say 24 / 7, but I do have to sleep, so it's about 18/7)</p>
  </div>
  <br />
  <br />
</div>
