<div class="content-background">
  <app-khash-quote></app-khash-quote>
  <br />
  <app-section-title sectionName="What I do differently"></app-section-title>
  <app-bullet-points></app-bullet-points>
  <app-parallax parallaxNumber="parallax-four" title="Responsiveness."></app-parallax>
  <app-video-section videoUrl="https://www.youtube.com/embed/HM4Qor9IO3U" isLeft="false" textNumber="one"></app-video-section>
  <app-parallax parallaxNumber="parallax-one" title="Knowledge."></app-parallax>
  <div class="container">
    <app-section-title sectionName="[Section Title T.B.D.]"></app-section-title>
    <app-video-section videoUrl="https://www.youtube.com/embed/H_vZGqKdtdQ" isLeft="true" textNumber="two"></app-video-section>
  </div>
  <app-parallax parallaxNumber="parallax-three" title="Technology."></app-parallax>
  <div class="container">
    <app-section-title sectionName="[Section Title T.B.D.]"></app-section-title>
    <app-video-section videoUrl="https://www.youtube.com/embed/4jbLxWTK7S8" isLeft="false" textNumber="three"></app-video-section>
  </div>
  <app-parallax parallaxNumber="parallax-two" title="Get In Touch"></app-parallax>
  <div class="container">
    <app-section-title sectionName="Contact Me"></app-section-title>
    <app-contact></app-contact>
  </div>
  <app-map></app-map>
</div>

