<div class="content-background">
  <div class="container">
    <div class="row khash-background align-items-center">
      <div class="col-4  d-block d-sm-none">
        <img src="../assets/khashHead.png" class="khash-head img-fluid" />
      </div>
      <div class="col-8  d-block d-sm-none text-center">
        <br />
        <h4 class="khash-white">Khash Saghafi</h4>
        <q class="khash-white">I work <b>daily</b> to find the <b>right mortgage</b> for my clients.</q>
        <br />
        <br />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="khash-name">What I do different</h4>
      </div>
    </div>
    <hr />
    <div class="row align-items-center">
      <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
      <p class="col-10 khash-name ">I walk you step-by-step through the process</p>
      <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
      <p class="col-10 khash-name ">I have a support team who will knock your socks off</p>
      <div class="col-2 khash-name text-center"><p>&#10132;</p></div>
      <p class="col-10 khash-name ">I am accessible 7 days a week (I would say 24 / 7, but I do have to sleep, so it's about 18/7)</p>
    </div>
    <br />
    <br />
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <p class="khash-name text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat in egestas erat imperdiet sed euismod nisi.
        </p>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-md-1 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HM4Qor9IO3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="parallax align-items-center">
    <br />
    <h4 class="khash-white text-center">Responsiveness. Knowledge. Technology.</h4>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="khash-name">some other sub div</h4>
      </div>
    </div>
    <hr />
    <div class="row align-items-center">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 embed-responsive embed-responsive-16by9">        
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H_vZGqKdtdQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 offset-md-1">
        <p class="khash-name text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan sit amet nulla facilisi morbi tempus iaculis urna.</p>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="parallax align-items-center">
    <br />
    <h4 class="khash-white text-center">Responsiveness. Knowledge. Technology.</h4>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="khash-name">some other sub div</h4>
      </div>
    </div>
    <hr />
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <p class="khash-name text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate dignissim suspendisse in est ante in nibh.
        </p>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-md-1 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4jbLxWTK7S8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="parallax align-items-center">
    <br />
    <h4 class="khash-white text-center">Get In Touch</h4>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="khash-name">Contact Me</h4>
      </div>
    </div>
    <hr />
    <div class="row align-items-center">
      <div class="col-6 text-center">
        <h5 class="khash-name">Give me a call</h5>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-secondary btn-block">Call</button>
      </div>
    </div>


    <hr />
    <div class="row align-items-center">
      <div class="col-6 text-center">
        <h5 class="khash-name">Send me an email</h5>
      </div>
      <div class="col-6 text-center">
        <button class="btn btn-secondary btn-block">Email</button>
      </div>
    </div>
    <hr />
    <div class="col-12 text-center">
      <h5 class="khash-name">
        Find me online
        <span>
          <fa-icon (click)="onClickFacebook()" [icon]="['fab', 'facebook']"></fa-icon> |
          <fa-icon (click)="onClickTwitter()" [icon]="['fab', 'twitter']"></fa-icon> |
          <fa-icon (click)="onClickInstagram()" [icon]="['fab', 'instagram']"></fa-icon> |
          <fa-icon (click)="onClickLinkedin()" [icon]="['fab', 'linkedin']"></fa-icon>
        </span>
      </h5>
    </div>
    <hr />
  </div>
  <div class="map-responsive">
    <<iframe src="https://maps.google.com/maps?q=liberty%20home%20mortgage&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0"></iframe>
  </div>
</div>
