.khash-name {
  color: dimgray;
  text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

.khash-white{
  color: whitesmoke;
  text-shadow: 3px 5px 4px rgba(0,0,0,0.9);
}

.khash-background{
  background-color: dimgray;
}

.parallax {
  /* The image used */
  background-image: url(../../../assets/independence2.png);

  /* Set a specific height */
  height: 100px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;


}

.khash-head{
  border-radius: 100px;
}

.content-background{
  background-color:lightgray;
  width: 100%;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
